:root {
  /* ========== BACKGROUND COLORS ========== */
  --white: #FFFFFF;
  --beige: #FBF8F3;
  --light-blue: #D7F5F5;
  --dark-blue: #237A9A;
  --btn-blue: #1DA1F2;
  --logo-blue: #3180f5;
  --link-blue: #30829f;

  /* ========== FONT COLORS ========== */
  --paragrahp-lighter: #888888;
  --paragraph-light: #757575;
  --paragraph-dark: #595959;
  --title-color: #000000;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');

/* ========== DEFAULT ========== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  line-height: 1.2;
}

h1, h2, h3, h4 {
  line-height: 1.2;
}

p, a {
  line-height: 1.6;
}

.blue__link {
  text-decoration: none;
  font-weight: bold;
  color: var(--link-blue);
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
}

/* ========== LAYOUT ========== */
.container {
  max-width: 1600px;
  margin: 0 auto;
  overflow: auto;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 10px;
  padding: 40px 80px;
}

.grid {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 100px;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 40px 80px;
}

/* MARGIN AND PADDING */
.mt__1 {
  margin-top: 0.5rem;
}

.mt__2 {
  margin-top: 1rem;
}

.mt__3 {
  margin-top: 1.5rem;
}

.mt__4 {
  margin-top: 2rem;
}

.mb__1 {
  margin-bottom: 0.5;
}

.mb__2 {
  margin-bottom: 1rem;
}

.mb__3 {
  margin-bottom: 1.5rem;
}

.mb__4{
  margin-bottom: 2.5rem;
}

.pb__1 {
  padding-bottom: 0.75rem;
}

.pb__2 {
  padding-bottom: 1.75rem;
}

.pb__3 {
  padding-bottom: 2.75rem;
}

.pb__4 {
  padding-bottom: 3.75rem;
}
.ml__1 {
  margin-left: 0.5rem;
}

.ml__2{
  margin-left: 1rem;
}

.ml__3 {
  margin-left: 1.5rem;
}

.ml__4 {
  margin-left: 2.5rem;
}
/* ========== FONT SIZES ========== */
.font__larger {
  font-size: 4rem;
}

.font__large {
   font-size: 2rem;
}

.font__paragraph {
  font-size: 1.2rem;
}

.font__link {
  font-size: 1.4rem;
}

/* ========== BUTTONS ========== */
.btn {
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  user-select: none;
}

.btn__blue {
  padding: 15px 25px 15px 65px;
  background: var(--btn-blue) url("/assets/Twitter.svg") 25px 19px no-repeat;
  color: var(--white);
}

/* ========== HEADER ========== */
.header__section {
  background-color: var(--beige);
}

.header__section .flex {
  justify-content: space-between;
}

.logo {
  font-size: var(--font-paragraph);
  color: var(--logo-blue);
  font-style: italic;
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  font-size: var(--font-paragraph);
}

.header__link, .btn__blue {
  text-decoration: none;
}

.header__link {
  padding-right: 30px;
  color: var(--paragraph-dark);
}

/* ========== ABOUT ========== */
.about {
  font-size: var(--font-larger);
  background-color: var(--beige);
}

.about .grid {
  padding: 0 80px;
}

.about p {
  color: var(--paragraph-light);
}

.avatar__img {
  display: flex;
}

.twitter__img {
  margin-right: -22px;
}

/* ========== FEATURES ========== */
.features .grid{
  grid-template-columns: 1fr;
  gap: 30px;
}

.features__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.feature__box {
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid var(--paragrahp-lighter);
}

.feature__box p {
  color: var(--paragrahp-lighter);
}
  